- content_for :head do
  = javascript_include_tag "selector"

  :javascript
    $(function() {
      try {
        console.log(#{@filter_data});
        //alert("#{escape_javascript(@filter_data)}");

        var selector = new Selector({selector: "#accordion", data: #{@filter_data},
          selections: #{@selections.to_json}});
      }
      catch (ex) {
        track_error(ex);
      }
    });

- content_for :content do
  #center
    = yield

  #left_rail
    .content
      #accordion
        %h3
          %a(href = "#") Project
        #project_pane
          %ol#sel_project
            - current_user.account.projects.each do |p|
              - cl = (p == @project) ? "ui-state-highlight" : ""
              %li(id = "sel_project_#{p.id}" class = "#{cl}") #{p.name}
        %h3
          %a(href = "#") Solution
        #solution_pane
          Choose a project to see solutions
        %h3
          %a(href = "#") Functional area
        #functional_area_pane Choose a project to see functional areas
        %h3
          %a(href = "#") Component
        #component_pane Choose a project to see components

      %form(method = "get" id = "filter_form")
        %input(type = "hidden" name = "prj" id = "prj")
        %input(type = "hidden" name = "sol" id = "sol")
        %input(type = "hidden" name = "fa" id = "fa")
        %input(type = "hidden" name = "cmp" id = "cmp")
        %button(onclick = "filter_form.submit(); return false;") Apply
      /  %input(type = "submit" name = "submit" value = "Apply" class = "button")
      /- semantic_form_for :filter, :url => project_path(@project), :html => {:method => :get, :id => "filter_form"} do |f|
      /  - f.inputs do
      /    = f.input :project, :as => :hidden
      /    = f.input :solution, :as => :hidden
      /    = f.input :functional_area, :as => :hidden
      /    = f.input :component, :as => :hidden
      /  - f.buttons do
      /    = f.commit_button "Apply"
        
  #right_rail
    .content
      = link_to "Projects", projects_path, :class => "button"
      %br
      = link_to "Reports", "/", :class => "button"
      %br
      = link_to "Project settings", settings_project_path(@project), :class => "button"

= render :file => "layouts/application"